[Unit]
Description=ITI Qt IVI Application
After=weston.service
Requires=weston.service

[Service]
Type=simple
User=weston
Group=weston
Environment="QT_QPA_PLATFORM=wayland"
Environment="QT_QPA_PLATFORMTHEME=gtk2"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="WAYLAND_DISPLAY=wayland-1"
Environment="QT_QPA_EGLFS_INTEGRATION=eglfs_kms"
ExecStart=/bin/appIVI
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target